<!DOCTYPE html>

<html>
<head>
  <title>weather</title>
  <link rel="icon" href="./img/weather-icon.png">
  <link  rel="stylesheet" href="./css/style.css">
 
</head>

<body>
  <div class="main-content">
{{>header}}
<p>this page is about weather</p>

<form >
<input placeholder="location please" >
<button>search</button>
</form>

<p id="msg-1"></p>
<p id="msg-2" ></p>
  </div>
  
{{>founder}}

 <script src="./js/apph.js"></script>
</body>

</html>